#uploadManufacturers {
    width: 450px;
    height: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow:  10px 10px 5px black;
    background-image: linear-gradient(to left, darkgray, gray)

}

#tableManufacturers {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    background: darkgray;
    border-radius: 5px;
    box-shadow: 5px 5px 2px black;
}

#tableManufacturers th {
    background-color: #0977B4;
    color: white;
    border-bottom: 1px solid darkslategray;
}

#tableManufacturers tr:nth-child(even) {
    background-color: lightgray
}

#tableManufacturers tr:hover {
    background-color: darkslategray;
}




