#inputData{
    width: 100%;
    padding-left: 10%;
}

#uploadManufacturers {
    width: 300px;
    height: 150px;
    float: right;
    margin-top: 3%;
    margin-right:3%;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 15px 30px black;
    background-image: linear-gradient(to left, darkgray, gray);
    text-align: left;
    padding-left: 10px;
}
#uploadManufacturers date{
    width: 100%;
}

#tableManufacturers {
    float: left;
    margin-top: 3%;;
    margin-left:3%;
    text-align: center;
    background: darkgray;
    border-radius: 5px;
    box-shadow: 10px 15px 30px black;
}

#tableManufacturers th {
    background-color: #0977B4;
    color: white;
    border-bottom: 1px solid darkslategray;
}

#tableManufacturers tr:nth-child(even) {
    background-color: lightgray
}

#tableManufacturers tr:hover {
    background-color: darkslategray;
}


#submitTD{
    padding-left: 30%;
}
#submit{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
}



#selectTable {
    float: left;
    margin-top: 5%;
    margin-left: 2%;
    text-align: center;
    background: darkgray;
    border-radius: 5px;
    box-shadow: 10px 15px 30px black;
}

#selectTable th {
    background-color: #0977B4;
    color: white;
    border-bottom: 1px solid darkslategray;
}

#selectTable tr:nth-child(even) {
    background-color: lightgray
}

#selectTable tr:hover {
    background-color: darkslategray;
}



