body {
    background: darkslategrey;
}

a:link {
    color: whitesmoke;

}

a:visited {
    color: whitesmoke;
}



#button1, #button2 {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    background-color: gray;
    border: 5px solid white;
}
#button1:HOVER, #button2:HOVER {
    background: #0977B4;

}

#content {
    padding-top: 2%;;
    width: auto;
    height: auto;
    text-align: center;
}

#everything {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#banner {
    height: 100px;
    width: 100%;
}

#menuBar {
    width: 100%;
    height: 70px;
    margin-top: 3%;
    font-size: 14px;
    float: right;
    background-image: linear-gradient(to left, darkgray, gray);
    border-radius: 25px;
    box-shadow: 10px 15px 30px black;

}

#menuBar .menuButton {
    margin-top: 1.5%;
    margin-left: 10%;
    width: 20%;
    display: inline-block;
    text-align: center;
    border: 5px solid white;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;

}

#menuBar .menuButton:HOVER {
    background: #0977B4;

}
/*
home css*/
#buttons {
    width: 100%;
    position: relative;

}

#tesla {
    height: 200px;
    width: 300px;
    transition: width 3s, height 3s;



}

#imageDiv {
    padding-top: 30px;
    height: 400px;
    width: 600px;
    margin: auto;

}

#tesla:active {
    width: 600px;
    height: 400px;
}

.text {
    position: absolute;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#tableCar table {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    background: darkgray;
    border-radius: 5px;
    box-shadow: 10px 15px 30px black;

    transition: visibility;

}

#tableCar th {
    background-color: #0977B4;
    color: white;
    border-bottom: 1px solid darkslategray;
}

#tableCar tr:nth-child(even) {
    background-color: lightgray;
}

#tableCar tr:hover {
    background-color: darkslategray;
}

#tableManufacturers {
    position: center;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    background: darkgray;
    border-radius: 5px;
    box-shadow: 10px 15px 30px black;

}

#tableManufacturers th {
    background-color: #0977B4;
    color: white;
    border-bottom: 1px solid darkslategray;
}

#tableManufacturers tr:nth-child(even) {
    background-color: lightgray
}

#tableManufacturers tr:hover {
    background-color: darkslategray;
}